.carte{
    @include flex-jst_dC-al_dC();
    flex-direction: column;
    background-color: #042c54;

    h1{
        color: #fff;
    }
    &__control{
        margin-top: 2rem;
        width: 100%;
        @include flex-jst_dC-al_dC();

        &-clear{
            @extend .scnd-button;
        }

        &-order{
            @extend .main-button;
        }


    }


}


.carteItem{
    @include flex-jst_dC-al_dC($jst:space-between);
    width: 100%;
    margin-top: 1rem;
    border-bottom: #fff solid ;
    padding: 1rem 0;
    color: $color-text;
}