@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


$font_family: 'Manrope', sans-serif;

  
$color-bg: #040C18;
$color-secondbg : #031B34;
$color-card: #042c54;
$color-text: #81AFDD;
$color-subtext: #d5e7f8;

