@import 'config';
@import 'modal';
@import 'mixins';
@import 'utility';
@import 'navbar';
@import 'saladList';
@import 'saladCard';
@import 'carte';
@import 'makeSalad';




*,
*:after,
*:before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
 
  
  a{
    color:unset;
    text-decoration: none;
  }

  .App{
    height: 100vh;

  }